In [28]:
import pandas as pd
df = pd.read_csv("meal.csv")
df

  profession breakfast lunch dinner result
0        Job         y     n      y     no
1        Job         y     n      y     no
2    Student         y     y      y    yes
3    Student         y     y      y    yes
4    Student         y     y      y    yes
5        job         y     n      y     no
6        job         y     n      y     no

In [30]:
inputs = df.drop('result', axis = 'columns')
target = df['result']

In [31]:
inputs

  profession breakfast lunch dinner
0        Job         y     n      y
1        Job         y     n      y
2    Student         y     y      y
3    Student         y     y      y
4    Student         y     y      y
5        job         y     n      y
6        job         y     n      y

In [32]:
target

0     no
1     no
2    yes
3    yes
4    yes
5     no
6     no
Name: result, dtype: object

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
new_profession= LabelEncoder()
new_breakfast= LabelEncoder()
new_lunch= LabelEncoder()
new_dinner= LabelEncoder()
new_d= LabelEncoder()

In [35]:
inputs['profession_n'] = new_profession.fit_transform(inputs['profession'])
inputs['breakfast_n'] = new_breakfast.fit_transform(inputs['breakfast'])
inputs['lunch_n'] = new_lunch.fit_transform(inputs['lunch'])
inputs['dinner_n'] = new_dinner.fit_transform(inputs['dinner'])
inputs.head()

,profession,breakfast,lunch,dinner,profession_n,breakfast_n,lunch_n,dinner_n
0,Job,y,n,y,0,0,0,0
1,Job,y,n,y,0,0,0,0
2,Student,y,y,y,1,0,1,0
3,Student,y,y,y,1,0,1,0
4,Student,y,y,y,1,0,1,0

In [37]:
inputs_n = inputs.drop(['profession', 'breakfast', 'lunch', 'dinner'], axis = 'columns')

In [38]:
inputs_n.head()

   profession_n  breakfast_n  lunch_n  dinner_n
0             0            0        0         0
1             0            0        0         0
2             1            0        1         0
3             1            0        1         0
4             1            0        1         0

In [39]:
from sklearn import tree

In [40]:
model = tree.DecisionTreeClassifier()

In [42]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [43]:
model.score(inputs_n,target)

1.0

In [58]:
model.predict([[1,1,1,1]])

array(['yes'], dtype=object)

In [67]:
from sklearn import metrics,model_selection
from IPython.display import Image, display
import matplotlib.pyplot as plt,pydotplus
import graphviz

In [72]:
data=tree.export_graphviz(model,out_file=None,filled=True,rounded=True,
                          feature_names=['profession','breakfast','lunch','dinner'],
                          class_names=['no','yes'])

In [73]:
graph=pydotplus.graph_from_dot_data(ddata)

In [75]:
display(Image(graph.create_png()))

InvocationException: GraphViz's executables not found